<div class="container fix-container">
  <%= render partial: "profile-header" %>
  <div>
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "Profile", user_profile_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "My bookings", user_profile_bookings_path, class: "tab-underlined active" %>
      </li>
      <li>
        <%= link_to "Listed backyards", user_profile_backyards_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Confirm bookings", user_profile_confirmation_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Posted reviews", user_profile_reviews_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Favourites", user_profile_favourites_path, class: "tab-underlined" %>
      </li>
    </ul>
  </div>
  <div>
    <div class="d-flex justify-content-center align-items-center p-4">
      <h3>Your Bookings</h3>
    </div>
    <div class="my-5">
      <% if @bookings.empty? %>
        <div class="d-flex flex-column justify-content-center align-items-center p-1">
          <div class="py-2">
            <p class="text-danger">
              Currently no bookings! Check out all the backyards below
            </p>
          </div>
          <div>
            <%= link_to "See Backyards", backyards_path, class: "btn btn-success" %>
          </div>
        </div>
      <% else %>
        <% @bookings.each_with_index do |booking, index| %>
          <div class="card-product">
            <%= cl_image_tag @backyards[index].photos.first.key %>
            <div class="card-product-infos">
              <h2><%= @backyards[index].name %></h2>
              <div class="d-flex flex-column py-2">
                <%= link_to "Edit Booking", edit_backyard_booking_path(@backyards[index], booking), class: "text-warning" %>
                <%= link_to "Delete Booking", backyard_booking_path(@backyards[index], booking), method: :delete, data: { confirm: 'Are you sure?'}, class: "text-danger" %>
              </div>
            </div>
            <div class="p-4">
              <% if booking.confirmed %>
                <div class = "confirmed">
                  <span>Confirmed</span>
                </div>
              <% elsif booking.confirmed == false %>
                <div class = "declined">
                  <span>Declined</span>
                </div>
              <% else %>
                <div class = "pending">
                  <span>Pending</span>
                </div>
              <% end %>
              <div>
                <div>
                  <p><i class="fas fa-calendar-alt"></i> <%= booking.date.strftime('%a %b %e, %y') %></p>
                </div>
                <div>
                  <p><i class="fas fa-user-friends"></i> <%= booking.number_of_guests %></p>
                </div>
                <div>
                  <p><i class="fas fa-money-bill-wave"></i> £<%= @backyards[index].price %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>