<div class="container page-container">
  <%= render partial: "profile-header" %>
  <div>
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "Profile", user_profile_path, class: "tab-underlined active" %>
      </li>
      <li>
        <%= link_to "My bookings", user_profile_bookings_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Listed backyards", user_profile_backyards_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Booking Confirmations", user_profile_confirmation_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Posted Reviews", user_profile_reviews_path, class: "tab-underlined" %>
      </li>
    </ul>
  </div>
  <div class = "row">
    <div class="col-lg-6">
      <div class = "edit_booking p-2">
        <p><i class="fas fa-envelope"></i> <%= current_user.email %></p>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-success w-25" %>
      </div>
    </div>
    <div class="col-lg-6">
      <%= simple_form_for current_user do |f| %>
        <%= f.input :avatar, as: :file %>
        <%= f.button :submit, class: "btn-success btn w-25" %>
      <% end %>
    </div>
  </div>
</div>