<h1 class="text-center mt-5">Available Backyards</h1>
<div class="content">
  <div class="cards">
	<% if @backyards.empty? %>
	<p class=col-12>There are no backyards to display</p>
	<%else%>
    <% @backyards.each do |backyard| %>
		<%= link_to backyard_path(backyard) do%>
			<div class="card-backyard">
				<%= cl_image_tag backyard.photos.first.key, height: 300, width: 400, crop: :fill %>
					<h2><%=backyard.name%></h2>
					<p><%= backyard.description%></p>
				<div class="card-backyard-infos">
					<p><%= backyard.address%></p>
					<p><i class="fas fa-pound-sign"></i> <%= backyard.price%> - <%= backyard.max_capacity%></p>
				</div>
			</div>
				<% end %>
		<% end %>
	<% end %>
  </div>
<!--rendering the map-->
		<div id="map"
			style="width: 100%; height: 100vh;"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
</div>
