<div class="container">
  <div class="row justify-content-center my-2 p-3">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @backyard do |f| %>
        <h2>Add Backyard</h2>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :max_capacity %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: "btn-success btn" %>
      <% end %>
    </div>
  </div>
</div>