<div class="container">
  <div class="m-4 d-flex justify-content-center align-items-center">
    <h1><%= @backyard.name %></h1>
      <div class="column">
      <% @backyard.photos.each do |photo| %>
        <div>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
      <p><%= @backyard.address %></p>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card-backyard description">
        <h3>Description</h3>
        <p><%= @backyard.description %></p>
      </div>
      <div class="col-lg-4">  
        <div class="card-backyard description">
          <p>Price: £<%= @backyard.price %></p>
          <p>Max Capacity: <%= @backyard.max_capacity %></p>
        </div>
      </div>
    </div>
</div>

  

  <%# <div class="card-backyard">
  <%# <img src= @backyard.photo /> %>
  <%# <div class="card-backyard-infos"> %>
    <%# <div> %>
      <%# <h2>Title here</h2> %>
      <%# <p>Short description here!</p> %>
    <%# </div> %>
    <%# <h2 class="card-backyard-pricing">£99.99</h2> %>
    <%# </div> %>
  <%# </div>  %> 


