<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% @backyard.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 400, width: 700, crop: :fill, class:"show-image" %>      
      <% end %>
    </div>
      <div class="col-sm-4 backyard-description">
          <p class="align-bottom">Address: <%= @backyard.address %></p>
          <p>Price: <strong>£<%=@backyard.price %></strong></p>
          <p>Max Capacity: <strong><%= @backyard.max_capacity %></strong></p>
          <%= link_to 'Book now!', new_backyard_booking_path(@backyard) %>
      </div>       
   </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3><%= @backyard.name %></h3>
      <p><%= @backyard.description %></p>
    </div>   
  </div>
</div>

<% @reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end  %>

  <div class="row justify-content-center my-2 p-3">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2>Add review</h2>
      <%= simple_form_for [@backyard, @review] do |f| %>
        <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a , label: "Rate your experience"%>
        <%= f.submit "Add your review"%>
      <% end %>
    </div>
  </div>